.anchor
.DS_Store
target
**/*.rs.bk
node_modules
test-ledger
.yarn
.env
.env.*
.vscode/
.idea/
tmp/
*.swp
*.buggy
keypair.json
id.json
wallet.json
# Binaries and large archives
*.tar.bz2
solana-release-*
