NEXT_PUBLIC_SOLANA_RPC_URL=
NEXT_PUBLIC_USDC_MINT=
NEXT_PUBLIC_BRENT_MINT=
NEXT_PUBLIC_ADMIN_OVERRIDE=

# Cloudflare KV (Geoblocking)
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_KV_NAMESPACE_ID=
CLOUDFLARE_API_TOKEN=
