@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --accent: #00FFB2;
  --font-geist-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bunker-green {
  color: var(--accent);
}

.bg-bunker-green {
  background-color: var(--accent);
}

.wallet-adapter-button {
  background-color: #00FFB2 !important;
  color: #000000 !important;
}

.wallet-adapter-button:not([disabled]):hover {
  background-color: rgba(0, 255, 178, 0.9) !important;
}
